.tableHeader {
    background-color: lightgray;
}
input[type="button"],
.tableHeader {
    font-weight: bold;
}
input[type="button"] {
    cursor: pointer;
}
.name {
    padding-left: 10px;
    width: 270px;
}
.price {
    width: 50px;
}
.href {
    width: 50px;
}
.remaining {
    width: 80px;
}
.row {
    margin: 5px 0;
    width: 100%;
}
.addButton {
    width: 120px;
}
.editButton,
.deleteButton {
    width: 60px;
}
.addButton,
.editButton,
.deleteButton,
.name,
.price,
.href,
.remaining {
    display: inline-block;
}